.mon-container{
    display: flex;
    justify-content: center;
}
.mon-row{
    display: flex;
    justify-items: start;
    flex-direction: row;
    align-items: center;
    height: 80px;
    width:900px;
    border-bottom: 1px solid #d7d7d7;
}
.mon{
    display: flex; 
    align-items: center;
    padding-right: 24px;
    min-width: 300px;
}
.mon img{
    height: 30px;
    width: 30px;
    margin-right:10px ;
}
.mon h1{
    font-size:16px;
    width: 150px;
}
.symbol{
    text-transform: uppercase;
}
.data{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}
.price{
    width: 110px;
}
.volume{
    width: 200px;
}
.mon-percent{
    width:80px
}
.mkt_cap{
    width: 240px;
}
.red{
    color: red;
}
.green{
    color:greenyellow;
}